html, body {
    height: 100%;
    width: 100%;
  }
  
  #disp{
      width:94vw;
    max-width:350px;
    height:50px;
      font-size:1.4rem;
  }
  #redio-cont{
      width:90vw;
      max-width: 320px;
      padding: 12px;
  }
  .radio{
    width:85%;
  }
  .container{
    width:98vw;
      max-width:380px;
    border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 20px 10px,
      rgba(0, 0, 0, 0.1) 4px 4px 6px 2px;
  
  }
  
  .bg-lightblue{
    background-color:#f2e533;
  }
  .bg-blue{
    background-color:#ab07ab;
  }
  
  #btn:hover {
    max-width: 650px;
    transform: scale(1.1);
    box-shadow: black  5px 5px 20px 3px;
  }