@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: url("/Exercises/Ex-4/bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

.nav {
  background-color: black;
  text-align: center;
  padding: 1.5%;
}

.head {
  font-size: 3rem;
  font-weight: lighter;
  font-family: "VT323", monospace;
  color: #39ff14;
}

.main {
  margin: 4% auto;
  background: #1e2124;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  width: 50vw;
  font-size: 1.3vw;
  border-radius: 5%;
  padding: 20px;
  text-shadow: 2px 2px black;
 font-family: 'Roboto Mono', monospace;
}

#content, #content2, #content3, #content4, #content5, #content6, #content7, #contentT, #contentS, #content8{
  color: greenyellow;
  padding: 5px;
}

#contentT{
  color: red;
}
#contentS{
  color: coral;
}
#content8{
  color: #39ff14;
}
